[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictStyle = diff3
[rebase]
	autoSquash = true
	missingCommitsCheck = true
[mergetool]
	keepBackup = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	sa = stash
	rb = rebase
	di = diff
	fe = fetch
	lo = log
	pl = pull
	pu = push
	ad = add
	cp = cherry-pick
	rp = rev-parse
	so = show
	me = merge
	mt = mergetool
	dt = difftool
[alias]
	plrb = "pull --rebase"
	rbin = "rebase --interactive"
	rbco = "rebase --continue"
	rbsk = "rebase --skip"
	rbab = "rebase --abort"
	cpco = "cherry-pick --continue"
	cpsk = "cherry-pick --skip"
	cpab = "cherry-pick --abort"
	pufl = "push --force-with-lease"
	pufo = "push --force"
	puus = "push --set-upstream"
	cial = "commit --all"
	feal = "fetch --all"
	fepr = "fetch --prune"
	adal = "add --all"
	cobr = "checkout -b"
	coth = "checkout --theirs"
	coou = "checkout --ours"
	bral = "branch --all"
	lool = "log --oneline"
	dino = "diff --name-only"
	dins = "diff --name-status"
	dist = "diff --stat"
	mefo = "merge --ff-only"
	dtdd = "difftool --dir-diff"
[alias]
	last-commit = "rev-parse --verify HEAD"
	fixup-commit = "!git commit --fixup $(git last-commit)"
	current-branch = "rev-parse --abbrev-ref HEAD"
	current-remote = "remote show"
	push-upstream = "!git push --set-upstream $(git current-remote) $(git current-branch)"
	purge-branches = "!git branch -v | fgrep '[gone]' | fgrep -v '*' | awk '{print $1;}' | xargs git branch -D"
	reset-branch = "!git reset --hard $(git current-remote)/$(git current-branch) && git clean --force -d"
